name: "FRP Client"
description: "You can use this tool to achieve remote access to local Home Assistant OS by port forwarding"
version: "0.0.2"
slug: "frp_client"
host_network: true
startup: application
boot: "auto"
init: false
hassio_api: true
hassio_role: "admin"
homeassistant_api: true
map:
  - "share:rw"
  - "homeassistant_config:rw"
privileged:
  - NET_ADMIN
devices:
  - /dev/net/tun
arch:
  - aarch64
  - amd64
  - armv7
options:
  serverAddr: "example.com"
  serverPort: 7000
  authToken: "123456789"
  customDomain: "example.com"
  proxyName: "homeassistant"
schema:
  serverAddr: str
  serverPort: int
  authToken: str
  customDomain: str
  proxyName: str
