serverAddr = "your_server_addr"
serverPort = 7000
auth.method = "token"
auth.token = "123456789"

log.to = "/share/frpc.log"
# trace, debug, info, warn, error
log.level = "trace"
log.maxDays = 3

transport.tls.enable = true

[[proxies]]
name = "your_proxy_name"
type = "http"
customDomains = ["your_domain"]
localPort = 8123
localIP = "127.0.0.1"
requestHeaders.set.x-from-where = "frp"
